/* You can add global styles to this file, and also import other style files */

.starter-template {
    padding: 3rem 1.5rem;
}

.float-vertical-align {  
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .profile-nav-image {
    width: 20px;
    height: 20px;
  }

.profile-image {
    height:40px;
    width:40px;
}

.post-button {
    height:40px;
    margin-right: 10px;
}

.post-date {
    margin-bottom: 0px;
}

.speech-bubble {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 20px;
    position: absolute;
}

.profile-edit-button {
    width: 100px;
}

